# Python cache and bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Model files
*.pkl
final_models/*.pkl
scaler/*.pkl

# Data files
data/*.csv

# OS-specific junk files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/

results/